body {
  background: #666;
  color: #fff;
}

#whiteboard {
  background: #fff;
  border: lightgrey 12.5px solid;
  border-bottom: black 8.5px solid;
  color: #000;
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
  position: relative;
  top: 150px;
}